<?xml version="1.0" encoding="UTF-8"?>
<project-modules id="moduleCoreId" project-version="2.0">
	<wb-module deploy-name="platform-logging">
		<wb-resource deploy-path="/" source-path="src/main/resources"/>
		<wb-resource deploy-path="/" source-path="src/main/java"/>
	</wb-module>
</project-modules>
